.gallery-section {
    width: 100vw;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 50px 50px;

    img {
        max-width: 400px;
        max-height: 400px;
        margin: 50px 50px;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}