.offer-section {
    width: 100vw;
    height: 500px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}