.partners-section {
    width: 100vw;
    background-color: white;
    padding-top: 30px;

    h2 {
        color: darkgray;
        margin-bottom: 30px;
        text-align: center;
    }

    .logos-container {
        width: 100%;
        padding: 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            margin: 1px 15px;
            transform: scale(0.6);
        }

        .logo4 {
            transform: scale(1);
        }

        .logo8 {
            transform: scale(1);
        }
    }
}